body{
	background-color: #000000;
	color:#ffffff;
}
.par{
	text-align: center;
	font-size: 20;
	font-family: "Verdana";
}

.ind{
	text-align: left;
	font-size: 14;
	font-family: "Arial";
}

.IMAGEM{
	border: 0;
	width: 400;
	height:300;
	
}

.ent{
	text-align: left;
	font-size: 12;
	font-family: "Verdana";
}

.ema{
	text-align: center-left;
	font-size: 10
	font-family: "Verdana";